.profile-dropdown {
  position: absolute;
  background-color: "#333";
}

.hidden {
  display: none;
}

.nav-link {
  color: #fff; 
  text-decoration: none;
}

.active-nav {
  font-weight: 900;
  font-size: 18px;
}

.profile-dropdown{
  padding: 10;
  color: "#fff"; 
  display: "flex"; 
  flex-direction: "column"; 
  position: "absolute"; 
  background-color: rgb(54, 1, 63); 
  width: 150; 
  right: 0; 
  top: 40; 
  border-radius: 4;
}